<main class="max-w-6xl mx-auto p-6">
  <!-- Loading state -->
  @if (productStore.loading()) {
  <div class="flex justify-center items-center py-20">
    <span class="loading loading-spinner loading-lg"></span>
  </div>
  }

  <!-- Error state -->
  @if (productStore.error()) {
  <div class="border border-red-400 text-red-700 px-4 py-3 rounded-lg mb-6">
    <p>{{ productStore.error() }}</p>
  </div>
  }

  <!-- Product details -->
  @if (productStore.selectedProduct()) {
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
    <div class="flex justify-center items-center p-6">
      <img
        [src]="productStore.selectedProduct()?.image"
        [alt]="productStore.selectedProduct()?.name"
        class="max-h-[450px] rounded-lg"
      />
    </div>

    <div class="flex flex-col justify-between p-6">
      <div>
        <h1 class="text-3xl font-bold mb-4">
          {{ productStore.selectedProduct()?.name }}
        </h1>
        <p class="leading-relaxed mb-6">
          {{ productStore.selectedProduct()?.description }}
        </p>
        <p class="text-2xl font-semibold mb-8">${{ productStore.selectedProduct()?.price }}</p>
      </div>

      <div class="flex gap-4">
        <button
          class="px-6 py-3 bg-black text-white rounded-lg hover:bg-gray-800 transition-colors"
          (click)="cartStore.addToCart(productStore.selectedProduct()!)"
        >
          Add to Cart
        </button>
        <button
          class="px-6 py-3 border border-gray-300 rounded-lg hover:bg-gray-100 transition-colors"
          [routerLink]="['/products']"
        >
          Back to Products
        </button>
      </div>
    </div>
  </div>

  <!-- related products  -->
  <div class="text-center my-8">
    <h2 class="text-2xl font-bold">Related Products</h2>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
    @for (product of productStore.relatedProducts(); track product.id) {
    <app-product-card (addToCart)="addToCart($event)" [product]="product" />
    }
  </div>
  }
</main>
