@import 'tailwindcss';
@plugin "daisyui" {
  themes: wireframe --default, dark --prefersdark;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
html {
  font-size: 0.9rem; /* default is 16px, reduce slightly */
}

body {
  font-size: 1rem; /* 1rem = 14px now */
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
}
