<nav class="bg-base-100 justify-around flex items-center px-4 py-6">
  <!-- Left side - Shop dropdown and Home -->
  <div class="flex items-center gap-4">
    <div class="dropdown">
      <label tabindex="0" class="text-lg cursor-pointer">Shop</label>
      <ul tabindex="0" class="menu dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 w-52">
        <li><a>Tables</a></li>
        <li><a>Chairs</a></li>
        <li><a>Clocks</a></li>
      </ul>
    </div>
    <a class="text-lg">Home</a>
  </div>

  <!-- Center - Logo -->
  <div class="text-center">
    <h4 class="text-xl">VOGUE HAVEN</h4>
  </div>

  <!-- Right side - Dropdown, Login, Cart -->
  <section class="flex items-center gap-4">
    <a class="text-lg">Login</a>

    <button routerLink="/cart" class="btn relative btn-square btn-ghost">
      <lucide-angular [img]="ShoppingBag"></lucide-angular>
      <span class="badge absolute bottom-8 left-8 badge-sm badge-primary">
        {{ cartStore.totalItems() }}
      </span>
    </button>

    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-square">
        <lucide-angular [img]="Menu"></lucide-angular>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 w-52">
        <li><a>Profile</a></li>
        <li><a routerLink="/products">Products</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </section>
</nav>
